* {
	margin: 0;
	padding: 0;
}

.searchIcon {
	width: 45px;
	height: 45px;
	position: relative;
	top: 25%;
}

.dropdownIcon {
	width: 27px;
	height: 27px;
	position: relative;
	top: 36.08%;
	background-color: #B7D2B3;
	box-sizing: border-box;
	padding: 0;
	border: 0;
}

.dropdownIcon:focus {
	outline: none;
}

.dropdownIcon:active {
	transform: translateY(-1px);
}

.grid {
	height: auto;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-areas: "dropdown title title search";
	background-color: #B7D2B3;
}

.title {
	grid-area: title;
}

.title h1 {
	color: white;
	font-size: 40px;
	padding-bottom: 5px;
	position: relative;
	top: 50%;
	transform: translateY(-50%); 
}

.search {
	grid-area: search;
}

.dropdown {
	grid-area: dropdown;
}

@media only screen and (min-width: 540px) {
	.grid {
		height: 12vh;
	}

	.title h1 {
		padding: 0;
	}

	.dropdownIcon {
		position: relative;
		top: 31%;
	}
}